.dp-popup {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100000;
}

.input-group.date {
  width: 200px;
}

.required:before {
  color: #e32;
  content: '*';
  display:inline;
}

.curtain {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .3;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  display: block;
}
